@tailwind base;
@tailwind components;
@tailwind utilities;

.prose {
    color: #334155;
    max-width: none;
}
p {
  @apply leading-7;
}
time {
  @apply text-[#64748B];
}
.container {
  @apply w-full max-w-screen-md mx-auto;
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
